
/*prefixer mixin*/
@mixin prefixer($prop,$val,$prefixes:()) {
    @each $prefix in $prefixes {
        #{"-"+$prefix+"-"+$prop}:$val;
    }
    $prop:$val;
}
/*gradaint*/
@mixin gradaint($dir,$startColor,$midcolor,$endColor) {
    background-image: linear-gradient(to $dir, $startColor 0%, $midcolor 27%, $endColor 90%);
}
/*bg-parallex*/
@mixin bg-parallex($var) {
    @if($var == 1)
    {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    }@else if($var==2)
    {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;   
    background-attachment: fixed;
    }
}
/*transition*/

@mixin transition {
    -webkit-transition: all 0.6s ease 0s;
    -moz-transition: all 0.6s ease 0s;
    -ms-transition: all 0.6s ease 0s;
    -o-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
}
/*margin-right*/
@mixin margin-right3 {
    @for $i from 0 to 4{
        .mr#{$i}{
            margin-right: 20px;
        }:last-of-type{
            margin-right: 0;
        }
    }
}
/*aowsem preloader*/
@mixin preloading {
   @content
      
}
